html,
body,
#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* Hide the Cesium viewer bottom content */
.cesium-viewer-bottom {
    display: none !important;
}

* {
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;    
  --button-color: #ffffff; 
}

