  #rotateLeftBtn,
  #rotateRightBtn {
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 9999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.9;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 1);
  }

  /* Left */
  #rotateLeftBtn {
    left: 10px;
  }

  /* Right */
  #rotateRightBtn {
    right: 10px;
  }
  .tool-button.rotate-left::before, .tool-button.rotate-right::before {
    box-shadow: none;
  }
  
  #exitPedestrianModeBtn {
  margin-top: 6px;
  padding: 6px 16px;
  background: #eee;
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  }
#panel-pedestrian-mode .panel-body {
  margin-top: 5px;
}
  
@media (max-width: 600px) {
 #panel-pedestrian-mode {
  text-align: center;
  position: absolute;
  top: 0;
  width: auto;
  left: auto;
 
}
#panel-pedestrian-mode input {
   margin-top: 5px;
   font-size: 16px;
}
}