/* material-icons-svg.css */
:root {
    /* White gray icons */
    --white-grey-icon-add: url("./white-grey-icons/add_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-arrow-left: url("./white-grey-icons/arrow_back_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-arrow-right: url("./white-grey-icons/arrow_forward_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-arrow-up: url("./white-grey-icons/arrow_upward_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-arrow-down: url("./white-grey-icons/arrow_downward_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-bookmarks: url("./white-grey-icons/bookmarks_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-collapse: url("./white-grey-icons/close_fullscreen_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-collapse-panel: url("./white-grey-icons/top_panel_close_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-close: url("./white-grey-icons/close_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-construction: url("./white-grey-icons/construction_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-cube: url("./white-grey-icons/deployed_code_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-delete: url("./white-grey-icons/delete_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-edit: url("./white-grey-icons/edit_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-edit-off: url("./white-grey-icons/edit_off_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-gps: url("./white-grey-icons/satellite_alt_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-hide: url("./white-grey-icons/hide_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-home: url("./white-grey-icons/home_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-info: url("./white-grey-icons/info_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-landscape: url("./white-grey-icons/landscape_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-layers: url("./white-grey-icons/layers_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-layers-clear: url("./white-grey-icons/layers_clear_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-map: url("./white-grey-icons/map_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-menu: url("./white-grey-icons/menu_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-measure: url("./white-grey-icons/straighten_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-more: url("./white-grey-icons/more_horiz_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-navigation: url("./white-grey-icons/navigation_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-open-in-full: url("./white-grey-icons/open_in_full_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-pedestrian: url("./white-grey-icons/streetview_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-pin: url("./white-grey-icons/keep_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-pin-off: url("./white-grey-icons/keep_off_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-place-model: url("./white-grey-icons/place_item_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-print: url("./white-grey-icons/print_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-remove: url("./white-grey-icons/remove_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-share: url("./white-grey-icons/screen_share_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-sun: url("./white-grey-icons/sunny_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-visibility: url("./white-grey-icons/visibility_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-visibility-off: url("./white-grey-icons/visibility_off_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-zoom-in: url("./white-grey-icons/zoom_in_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");
    --white-grey-icon-zoom-out: url("./white-grey-icons/zoom_out_24dp_E3E3E3_FILL0_wght200_GRAD0_opsz24.svg");

    /* Black icons */
    --black-icon-add: url("./black-icons/add_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-arrow-left: url("./black-icons/arrow_back_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-arrow-right: url("./black-icons/arrow_forward_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-arrow-up: url("./black-icons/arrow_upward_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-arrow-down: url("./black-icons/arrow_downward_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-bookmarks: url("./black-icons/bookmark_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-collapse: url("./black-icons/close_fullscreen_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-collapse-panel: url("./black-icons/top_panel_close_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-close: url("./black-icons/close_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-construction: url("./black-icons/construction_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-cube: url("./black-icons/deployed_code_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-delete: url("./black-icons/delete_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-edit: url("./black-icons/edit_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-edit-off: url("./black-icons/edit_off_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-gps: url("./black-icons/satellite_alt_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-hide: url("./black-icons/hide_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-home: url("./black-icons/home_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-info: url("./black-icons/info_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-landscape: url("./black-icons/landscape_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-layers: url("./black-icons/layers_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-layers-clear: url("./black-icons/layers_clear_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-map: url("./black-icons/map_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-menu: url("./black-icons/menu_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-measure: url("./black-icons/straighten_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-more: url("./black-icons/more_horiz_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-navigation: url("./black-icons/navigation_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-open-in-full: url("./black-icons/open_in_full_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-open-panel: url("./black-icons/top_panel_open_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-pedestrian: url("./black-icons/streetview_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-pin: url("./black-icons/keep_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-pin-off: url("./black-icons/keep_off_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-place-model: url("./black-icons/place_item_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-print: url("./black-icons/print_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-remove: url("./black-icons/remove_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-share: url("./black-icons/screen_share_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-sun: url("./black-icons/sunny_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-visibility: url("./black-icons/visibility_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-visibility-off: url("./black-icons/visibility_off_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-zoom-in: url("./black-icons/zoom_in_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");
    --black-icon-zoom-out: url("./black-icons/zoom_out_24dp_000000_FILL0_wght200_GRAD0_opsz24.svg");

}